.border {
  border: 2px solid red;
  width: 300px;
  height: 20px;
}

.App {
  justify-content: center;
  display: flex;
  gap: 5px;
}



.Card {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 5px;

}

.oneCardStyle {
  height: 550px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.bigger {
  height: 500px;
}

.head {
  height: 20%;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.head.blue {
  background-color: rgb(1, 145, 155);
}

.cardBody.blue {
  background-color: rgb(1, 190, 204);
}

.head.green {
  background-color: rgb(4, 132, 81);
}

.cardBody.green {
  background-color: rgb(3, 184, 111);
}

.head.red {
  background-color: rgb(171, 2, 2);
}

.cardBody.red {
  background-color: rgb(234, 3, 3);
}

.head.black {
  background-color: rgb(9, 9, 9);
}

.cardBody.black {
  background-color: rgb(30, 30, 30);
}

.cardBody {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid rgb(146, 144, 144);

}

.bodySection1 {
  height: 20%;
  border: 1px solid rgb(146, 144, 144);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: gray;
  padding-left: 25px;
}

--fonts {
  font-size: 15px;
}

.tarif {
  display: flex;
  border: 1px solid red;
  justify-content: center;
  gap: 5px;
}

.Card2 {
  border: 1px solid blue;
}

.selected {
  border: 2px solid orange;
}

.color {
  background-color: aqua;
}